@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap);
@import "sass/helpers/variables.scss";

body {
    background: $primary-color;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: 60px 8%;

    .card {
        padding: 50px 15%;
    
        &--sedan {
            background: $bg-color-sedan;
        }
    
        &--suvs {
            background: $bg-color-suvs;
        }
    
        &--luxury {
            background: $bg-color-luxury;
        }
    
        &--first {
            border-radius: 15px 15px 0px 0px;
        }
    
        &--last {
            border-radius: 0px 0px 15px 15px;
        }
    
        &__title {
            font-family: $font-title;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $primary-color;
        }
    
        &__description {
            font-family: $font-text;
            line-height: 1.7;
            color: hsla(0, 0%, 100%, 0.75);
            margin-bottom: 35px;
        }
    
        &__button {
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            font-family: $font-text;
            background-color: $primary-color;
            padding: 15px 30px;
            border-radius: 100px;
    
            &--sedan {
                color: $bg-color-sedan;
            }
        
            &--suvs {
                color: $bg-color-suvs;
            }
        
            &--luxury {
                color: $bg-color-luxury;
            }
        }
    }
}


.attribution { 
    font-size: 0.687rem;
    font-family: $font-text; 
    text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}
    

@media only screen and (min-width: 925px) {
    .container {
        width: 80%;
        display: flex;
        margin: 5% auto;
        justify-content: center;
        
        .card {
            padding: 50px 5%;

            &--first {
                border-radius: 15px 0px 0px 15px;
            }
    
            &--last {
                border-radius: 0px 15px 15px 0px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 65%;
        max-width: 1440px;

        .card {
            
            &__description {
                margin-bottom: 55px;
            }

            &__button{
                transition: all 0.3s linear;

                &:hover {
                    border: 2px solid $primary-color;
                    background-color: transparent;
                    color: $primary-color;
                    padding: 13px 28px;
                }
            }
        }
    }

}