$primary-color: hsl(0, 0%, 95%);
$font-title: 'Big Shoulders Display', Arial, sans-serif;
$font-text: 'Lexend Deca', Helvetica, sans-serif;
// Cards backgorund color
$bg-color-sedan: hsl(31, 77%, 52%);
$bg-color-suvs: hsl(184, 100%, 22%);
$bg-color-luxury: hsl(179, 100%, 13%);
